@charset "UTF-8";

/*==== 1 ここから ====*/
body {
-webkit-touch-callout:none; /* リンク長押しのポップアップを無効化 */
-webkit-user-select:none; /* テキスト長押しの選択ボックスを無効化 */
}
/*==== 1 ここまで ====*/

/*==== 2 ここから ====*/
.text {
    color: #008080;
    text-decoration: none;
    text-align: left;
}

#header-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
}
.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
}
* {
    font-family: 'M PLUS 1p', sans-serif;
}
* {
    touch-action: pan-x pan-y;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #23282f;
  }
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}
/*==== 2 ここまで ====*/

/*==== 3 ここから ====*/
.gcsc-more-maybe-branding-root {
  display: none!important;
}
@media (prefers-color-scheme: dark) {
  .gsc-completion-container {
    background-color: #23282f!important;
    color: #e6e6e6!important;
  }
}
.gsc-control-cse {
    border-color: transparent!important;
    background-color: transparent!important;
}
.gcsc-more-maybe-branding-box {
  display: none!important;
}
.gsc-above-wrapper-area {
  display: none!important;
}
/*
.gsc-input-box {
  border-radius: 10px!important;
}
.gsc-search-button {
  border-radius: 10px!important;
}
.gsc-results-wrapper-overlay {
  border-radius: 10px!important;
}
.gs-image {
  border-radius: 10px!important;
}
.gsc-results .gsc-cursor-box {
  border-radius: 10px!important;
}
.gs-imagePreview {
  border-radius: 10px!important;
}
.gs-image-popup-box {
  border-radius: 10px!important;
}
.gs-previewVisit {
  border-radius: 10px!important;
}
.gsc-tabsArea {
  border-radius: 10px!important;
}
.gs-imagePreviewArea {
  border-radius: 10px!important;
}
*/
@media (prefers-color-scheme: dark) {
  .gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive {
    background-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-tabHeader.gsc-tabhInactive, .gsc-refinementHeader.gsc-refinementhInactive {
    background-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #23282f!important;
    border-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-webResult:hover.gsc-result:hover, .gsc-results:hover .gsc-imageResult:hover {
    background-color: #23282f!important;
    border-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet, .gs-fileFormatType {
    color: #e6e6e6!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color: #23282f!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-results .gsc-cursor {
    color: #e6e6e6!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gsc-cursor-numbered-page {
    color: #e6e6e6!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: #8ab4f8!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gs-result .gs-title *, .gsc-cursor-page, .gs-spelling a {
    color: #8ab4f8!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #8ab4f8!important;
  }
}
@media (prefers-color-scheme: dark) {
  .gs-spelling {
    color: #e6e6e6!important;
  }
}
.gcsc-branding-clickable {
    pointer-events: none!important;
}
.gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive {
    color: inherit!important;
    border-color: inherit!important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: inherit!important;
}
.gsc-input-box {
    background: inherit!important;
}
#gsc-i-id1 {
    background: inherit!important;
    color: inherit!important;
}
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
    background-color: inherit!important;
}
@media (prefers-color-scheme: light) {
  .gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
    background-color: #008080!important;
  }
}
.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    background-color: transparent!important;
    border: transparent!important;
    display: inherit!important;
    padding: 5px!important;
    font-size: 15px!important;
    text-align: center!important;
}
@media (prefers-color-scheme: dark) {
  .gs-snippet {
    color: #e6e6e6;
  }
}
@media (prefers-color-scheme: light) {
  .gs-snippet {
    color: #333333;
  }
}
/*==== 3 ここまで ====*/

/*==== 4 ここから ====*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #23282f;
    color: #e6e6e6;
  }
}
@media (prefers-color-scheme: dark) {
.gsc-tabHeader.gsc-tabhInactive, .gsc-refinementHeader.gsc-refinementhInactive {
    color: #c0c0c0!important;
  }
}
/*==== 4 ここまで ====*/
